@model ParcialUno.Models.Prestamo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Prestamo</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UsuarioCedula, "Usuario:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("UsuarioCedula", String.Empty)
            @Html.ValidationMessageFor(model => model.UsuarioCedula)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.VideoJuegoCodigo, "VideoJuego:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("VideoJuegoCodigo", String.Empty)
            @Html.ValidationMessageFor(model => model.VideoJuegoCodigo)
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.PrestamoFechaRegistro,"Fecha del prestamo:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PrestamoFechaRegistro, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PrestamoFechaRegistro, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EsDevuelto, "¿Se devolvio?:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.EsDevuelto)
                @Html.ValidationMessageFor(model => model.EsDevuelto, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
