@model IEnumerable<ParcialUno.Models.VideoJuego>

@{
    ViewBag.Title = "Listado de videoJuegos";
}

<h2 class="text-center">Listado de videojuegos</h2>

<div class="col-md-offset-11">

    <button class="btn btn-success text-white ">
        @Html.ActionLink("Registrar videojuegos", "Create")
    </button>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VideoJuegoCodigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoJuegoCodigoEjemplar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoJuegoNombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VideoJuegoCodigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoJuegoCodigoEjemplar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoJuegoNombre)
            </td>
            <td>
                <button class="btn btn-warning">
                    @Html.ActionLink("Editar", "Edit", new { item.VideoJuegoCodigo, item.VideoJuegoCodigoEjemplar })
                </button>
            </td>
        </tr>
    }

</table>
